<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duanhf.flutter.plugin.asr">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <meta-data
            android:name=" com.baidu.speech.APP_ID"
            android:value="25635116" />
        <meta-data
            android:name=" com.baidu.speech.API_KEY"
            android:value="PxRKuGCfIcwXrgGK703N716h" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="EVATWOHSB8xBiu4wocGwBsn2w1jAkeGD" />

    </application>
</manifest>